<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src='{{"assets/images/img1.jpg"}}'>

    <div class="card-body">
        <p class="card-text"> Nome</p>
        <p class="card-text"> Categoria</p>
        <p class="card-text"> Quantidade</p>
        <p class="card-text"> Preco</p>

        <div class="btn-group justify-content-between">
            <div type="button" class="btn btn-sm btn-primary">Comprar</div>
            <div type="button" class="btn btn-sm btn-outline-primary">Detalhes</div>
        </div>
    </div>

</div>

<!-- <img class="bd-placeholder-img card-img-top" width="100%" src='{{"assets/images/" + livro.img + ".jpg"}}'>

    <div class="card-body">
        <p class="card-text"> {{livro.name}}</p>
        <p class="card-text"> {{livro.category}}</p>
        <p class="card-text"> {{livro.quantity}}</p>
        <p class="card-text"> {{livro.price | currency:'BRL'}}</p>

        <div class="btn-group">
            <div type="button" class="btn btn-sm btn-primary">Comprar</div>
            <div type="button" class="btn btn-sm btn-outline-primary">Detalhes</div>
        </div>
    </div>-->